* {
  font-family: 'Open Sans', sans-serif;
  padding: 0;
  margin: 0;
}

body {
  background-color: #ffffff;
  background-image: linear-gradient(180deg, #ffffff 25%, #f5f5f5 100%);
}

.app-container {
  // background-color: #f4f4f4;
  // width: 90%;
  // margin-left: 5%;
  width: 100%;
  height: 50vh;
  background-color: #52ACFF;
  background-image: linear-gradient(180deg, #52ACFF 25%, #2c70ff 100%);
  position: absolute;
  top: 0;
  left: 0;

  // Search
  .search-container {
    // margin-top: 10vh;
    height: 20vh;
    margin: 30px 0;
    // background-color: #ffffff;
    // background-image: linear-gradient(160deg, #ffffff 0%, #daf3ff 100%);    

    @media only screen and (max-width: 768px) {
      margin-top: 15vh;
      height: 70vh;
    }

    form {
      height: 100%;

      .row {
        margin-bottom: 0;
        height: 100%;
        display: flex;
        align-items: center;
        padding: 0;

        input {
          margin: 0;
        }
    
        .joined-inputs {
          display: flex;
        
          input {
            margin: 0 10px 0 0 !important;
          }
        }

        .search-button-container {
          display: flex;
          justify-content: center;
        }

        @media only screen and (max-width: 768px) {
          flex-direction: column;
          justify-content: space-around;

          .input-field, .search-button-container {
            width: 100%;
          }
        }
      }
    }
  }


  //  Events

  .map-container {
    width: 90%;
    margin-left: 5%;
    position: relative;
    z-index: 2;
    background-color: white;
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 75px -23px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 75px -23px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 75px -23px rgba(0,0,0,0.75);


    .map-title {
      color: black;
      display: flex;
      justify-content: space-between;
      padding: 15px 15px;
  }

  .map {
    height: 40vh;
    background-color: #52ACFF;
    background-image: linear-gradient(270deg, #52ACFF 25%, #2c78ff 100%);    
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
  }

  //  Search details 
  .search-details-container {
    display: flex;
    padding: 0 10px;
    margin: 20px 0;
    border-left: solid 5px #52ACFF;

    .sarch-name {
      flex: 1;
    }

    .events-info {
      flex: 1;
      display: flex;
      justify-content: space-around;
      align-items: center;

      .event-type {
        color: rgb(172, 171, 171);
      }

      .event-value {
        font-size: 1.2em;
      }
    }
  }

  //  Events list
  .events-list-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    //  Eevnt card
    .event-card-container {
      width: 80%;
      border-radius: 10px;
      margin: 20px 0;
      -webkit-box-shadow: 0px 0px 75px -23px rgba(0,0,0,0.75);
      -moz-box-shadow: 0px 0px 75px -23px rgba(0,0,0,0.75);
      box-shadow: 0px 0px 75px -23px rgba(0,0,0,0.75);

      .event-image {
        background-color: #52ACFF;
        background-image: linear-gradient(90deg, #52ACFF 25%, #5df5f1 100%);
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        color: white;
        height: 15vh;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .event-content {
        display: flex;
        justify-content: space-between;

        .card-left {
          flex: 1;
          margin: 10px 0;
          padding: 10px;

          .event-title {
            font-size: 2em;
          }

          .event-description {
            color: rgb(172, 171, 171);
            font-weight: lighter;
            padding: 10px;
          }

          .event-search-infos {
            display: flex;
            justify-content: space-around;
            margin: 10px 0;

            div {
              display: flex;
              align-items: center;
              justify-content: space-between;

              i {
                padding: 0 3px;
                color: #52ACFF;
              }
            }
          }
        }
        
        .card-right {
          flex: 0.5;
          margin: 10px 0;
          border-left: 1px solid rgb(172, 171, 171);
          padding: 10px;
          display: flex;
          flex-direction: column;
          justify-content: space-between;

          div {
            display: flex;
            align-items: center;

            i {
              padding: 0 3px;
              color: #52ACFF;
            }
          }
        }
      }
    }
  }
}


//  Event
.event-container {
  color: white;
}

}

//  Materialize colors
.btn {
  background-color: #2c78ff;
}

.btn:hover {
  background-color: #52ACFF;
}

.input-field {
  label {
    color: white;
  }
  input[type=text]:focus + label {
    color: #FFF !important;
  }
  input[type=text]:focus {
    border-bottom: 1px solid #FFF !important;
    box-shadow: 0 1px 0 0 #FFF !important;
  }
  input[type=text]:not(.browser-default) {
    color: white;
    border-bottom: 1px white solid
  }
  input[type=text]::placeholder {
    color: white;
  }

  .caret {
    fill: white;   
  }

  .dropdown-content {
    background-color: #2c70ff;
    color: white;

    input[type="checkbox"]:checked + span:not(.lever):before {
      border-right: 2px solid white;
      border-bottom: 2px solid white;
      border-left: none;
      border-top: none;
    }
    input[type="checkbox"] + span:not(.lever):before, input[type="checkbox"]:not(.filled-in) + span:not(.lever):after {
      border: 2px solid white;
    }
  }
}

.datepicker-container {
  input[type=text]:not(.browser-default) {
    color: black;
  }

  .datepicker-done, .datepicker-cancel , .datepicker-table td.is-today {
    color: #2c70ff;
  }
  .datepicker-table td.is-selected, .datepicker-date-display {
    background-color: #2c70ff;
  }
}

.dropdown-content li > a, .dropdown-content li > span {
  color: #2c70ff;
}

