.search-container {
    form {
        .form-button {
            background-color: white;
            border: 1px white solid;
            color: $primary;
            border-radius: 2px;
        }

        .form-button:hover {
            -webkit-box-shadow: 0px 1px 25px -5px rgba(255,255,255,1);
            -moz-box-shadow: 0px 1px 25px -5px rgba(255,255,255,1);
            box-shadow: 0px 1px 25px -5px rgba(255,255,255,1);
        }

        input, label, div[class^="MuiSelect"], svg {
            color: white !important;
        }

        svg:hover {
            fill: $primary;
        }

        div[class^="MuiInputBase"]::before{
            border-bottom: solid 1px white;
        }
        div[class^="MuiInputBase"]::after{
            border-bottom: solid 1px white;
        }
        div[class^="MuiInput"]:hover{
            border-bottom: solid 1px white;
        }
    }
}