//  Event
.event-container {
    color: white;
  
    .event-image {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        height: 50vh;
        background-color: linear-gradient(90deg, $secondary 25%, $tertiary 100%);
        z-index: 1;
    }
  
    .event-details {
        width: 90%;
        margin-left: 5%;
        z-index: 2;
        margin-top: 30vh;
        background-color: white;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        -webkit-box-shadow: 0px 0px 75px -23px rgba(0,0,0,0.75);
        -moz-box-shadow: 0px 0px 75px -23px rgba(0,0,0,0.75);
        box-shadow: 0px 0px 75px -23px rgba(0,0,0,0.75);
        color: black;

        .event-map {
            width: 100%;
            height: 50vh;
            display: flex;
            justify-content: center;
            align-items: center;
            color: $primary;
            // border-bottom: 2px solid black;
        }

        .event-description {

            .event-title {
                margin: 20px 0;
                padding: 20px 20px;
                border-left: solid 5px $secondary;

                .event-name {
                    font-size: 2em;
                }

                .event-address {
                    font-size: 1em;
                    margin-left: 20px;
                    color: $text-secondary;
                }
            }
    
            .event-description-text {
                padding: 20px 10px;
                margin: 20px 0;
                width: 90%;
                margin-left: 5%;

                p {
                    padding: 10px;
                }
            }

            .event-description-details {
                display: flex;
                padding: 20px 10px;
                margin: 20px 5%;
                justify-content: space-around;
                width: 90%;

                .event-description-details-infos {
                    flex: 0.5;
                    margin: 10px 0;
                    -webkit-box-shadow: 24px 0px 80px -61px rgba(0,0,0,0.75);
                    -moz-box-shadow: 24px 0px 80px -61px rgba(0,0,0,0.75);
                    box-shadow: 24px 0px 80px -61px rgba(0,0,0,0.75);

                    .event-info-subtitle {
                        margin: 5px 10px;
                    }

                    .event-details-global {
                        div {
                            display: flex;
                            margin: 5px 10px;

                            i {
                                color: $primary;
                                margin-right: 10px;
                            }
                        }
                    }

                    .event-contacts {
                        margin-top: 20px;

                        a {
                            color: black;
                        }

                        div {
                            display: flex;
                            margin: 5px 10px;

                            i {
                                color: $text-secondary;
                                margin-right: 10px;
                            }
                        }
                    }
                }

                .event-comments {
                    flex: 1;
                    margin: 10px;
                }
            }
        }
    }
  }